.gallery {
  padding: 60px 20px;
  background-color: #f7f9fc;
}

.gallery-content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.gallery-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #064988;
}

.gallery-text p {
  color: #2d2c2c;
}

.gallery-text {
  max-width: 700px;
  color: #064988;
}

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 700px;
  border-radius: 12px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.slide img {
  width: 45%;
  border-radius: 8px;
  border: 2px solid rgb(97, 173, 235);
  object-fit: cover;
}

/* Bolinhas */
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 8px;
}

.carousel-dots span {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-dots span.active {
  background-color: #064988;
}
